body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: url('image.jpeg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  background: rgba#d1adba;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #444;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 120px;
  border-radius: 10px;
}

.logo h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #e91e63;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  width: 100%;
  background-color: #07057f;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.message {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: green;
}

.counter {
  margin-top: 10px;
  font-style: italic;
  color: #333;
}
